<div class="cont-feed">
	<div class="container">
		<h2 class="cont-feed__title">Отзывы</h2>
		<div class="row">
			<div class="col-lg-3">
				<div class="cont-feed__item">
					<div class="cont-feed__img">
						<img src="../img/contacts__feedback--face1.jpg" alt="feedback face">
					</div>
					<blockquote class="cont-feed__content">
						<p class="cont-feed__content--text">Спецтех24 – это надежные партнеры нашей компании, которые всегда выполняют работу быстро и еще у них отличное чувство юмора! Благодарим и рекомендуем.</p>
						<cite class="cont-feed__content--name">Оля Молния</cite>
					</blockquote>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="cont-feed__item">
					<div class="cont-feed__img">
						<img src="../img/contacts__feedback--face2.jpg" alt="feedback face">
					</div>
					<blockquote class="cont-feed__content">
						<p class="cont-feed__content--text">Спецтех24 – это надежные партнеры нашей компании, которые всегда выполняют работу быстро и еще у них отличное чувство юмора! Благодарим и рекомендуем.</p>
						<cite class="cont-feed__content--name">Оля Молния</cite>
					</blockquote>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="cont-feed__item">
					<div class="cont-feed__img">
						<img src="../img/contacts__feedback--face3.jpg" alt="feedback face">
					</div>
					<blockquote class="cont-feed__content">
						<p class="cont-feed__content--text">Спецтех24 – это надежные партнеры нашей компании, которые всегда выполняют работу быстро и еще у них отличное чувство юмора! Благодарим и рекомендуем.</p>
						<cite class="cont-feed__content--name">Оля Молния</cite>
					</blockquote>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="cont-feed__item">
					<div class="cont-feed__img">
						<img src="../img/contacts__feedback--face4.jpg" alt="feedback face">
					</div>
					<blockquote class="cont-feed__content">
						<p class="cont-feed__content--text">Спецтех24 – это надежные партнеры нашей компании, которые всегда выполняют работу быстро и еще у них отличное чувство юмора! Благодарим и рекомендуем.</p>
						<cite class="cont-feed__content--name">Оля Молния</cite>
					</blockquote>
				</div>
			</div>
		</div>
	</div>
</div>