<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<a href="index.html" class="footer__logo">
					<span class="footer__logo--fat">СпецТех</span>24
				</a>
			</div>
			<div class="col-lg-9">
				<nav>
					<ul class="foot-menu">
						<li><a href="index.html" class="foot-menu__item">О компании</a></li>
						<li><a href="catalog.html" class="foot-menu__item">Каталог</a></li>
						<li><a href="portfolio.html" class="foot-menu__item">Портфолио</a></li>
						<li><a href="contacts.html" class="foot-menu__item">Контакты</a></li>
						<li><a href="#" class="foot-menu__item foot-menu__item--callback">Заказать звонок</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</footer>
<script src="js/main.js"></script>