<div class="map-n-consult">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="map-n-consult__map" id="indexmap"></div>
			</div>
			<div class="col-lg-4">
				<address class="consult__content">
					<p><a href="tel:+78122128506" class="consult__content--phone">+7 (812) 212 85 06</a></p>
					<p><a href="mailto:scink666@gmail.com" class="consult__content--mail">rent@speztech.ru</a></p>
					<form action="" class="consult__form">
						<legend class="consult__text">Заказать консультацию по подобру подходящей техники:</legend>
						<input type="text" name="name" value="" placeholder="Имя" class="consult__input" required>
						<input type="tel" name="phone" value="" placeholder="Телефон для связи" class="consult__input" required>
						<textarea name="text" value="" placeholder="Описание задачи (можно примерное)" class="consult__textarea" required></textarea>
						<input type="submit" value="Получить консультацию" class="consult__submit">
					</form>
				</address>
			</div>
		</div>
	</div>
</div>