<div class="numbers-and-feedbacks">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<h2 class="numbers-and-feedbacks__title">Спецтех<span class="numbers-and-feedbacks__title--slim"> в цифрах</span></h2>
				<ul class="numbers__menu">
					<li class="numbers__item"><span class="numbers__item--big">16</span>Лет работы</li>
					<li class="numbers__item"><span class="numbers__item--big">715</span>Объектов построено</li>
					<li class="numbers__item"><span class="numbers__item--big">108</span>Единиц техники</li>
					<li class="numbers__item"><span class="numbers__item--big">500+</span>Довольных клиентов</li>
				</ul>
			</div>
			<div class="col-lg-8">
				<h2 class="numbers-and-feedbacks__title">Нас рекомендуют клиенты</h2>
				<div class="feedbacks__item">
					<div class="feedbacks__face">
						<img src="img/image__feedback--face1.jpg" alt="feedback-face">
					</div>
					<blockquote>
						<p class="feedbacks__text">Спецтех24 – это надежные партнеры нашей компании, которые всегда выполняют работу быстро и еще у них отличное чувство юмора! Благодарим и рекомендуем.</p>
						<cite class="feedbacks__name">Оля Вольт, Реал-Строй</cite>
					</blockquote>
				</div>
				<div class="feedbacks__item">
					<div class="feedbacks__face">
						<img src="img/image__feedback--face2.jpg" alt="feedback-face">
					</div>
					<blockquote>
						<p class="feedbacks__text">Все виды работ, предусмотренные договором, компания выполнила на высоком профессиональном уровне, качественно, в срок, в соответствии с требованиями ООО «ТНН» рекомендует</p>
						<cite class="feedbacks__name">Григорий Безымянных, ТНН</cite>
					</blockquote>
				</div>
			</div>
		</div>
	</div>
</div>