<div class="offers">
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<h2 class="offers__title">Вся техника</h2>
				<ul class="offers__menu">
					<li><a href="#" class="offers__item">Гусенечные экскаваторы</a></li>
					<li><a href="#" class="offers__item">Колесные экскаваторы</a></li>
					<li><a href="#" class="offers__item">Мини-экскаваторы</a></li>
					<li><a href="#" class="offers__item">Автокраны</a></li>
					<li><a href="#" class="offers__item">Фронтальные погрузчики</a></li>
					<li><a href="#" class="offers__item">Навесное оборудование</a></li>
					<li><a href="#" class="offers__item">Дизельгенераторы</a></li>
				</ul>
			</div>
			<div class="col-lg-9">
				<h2 class="offers__title">Спецпредложение</h2>
				<table class="offers__table">
					<thead>
						<tr>
							<th>Позиция для аренды</th>
							<th>За смену</th>
							<th>За неделю</th>
							<th>За месяц</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Мини-экскаватор CAT</td>
							<td>5&nbsp;000</td>
							<td>25&nbsp;000</td>
							<td>60&nbsp;000</td>
						</tr>
						<tr>
							<td>Экскаватор VOLVO</td>
							<td>3&nbsp;000</td>
							<td>15&nbsp;000</td>
							<td>40&nbsp;000</td>
						</tr>
						<tr>
							<td>Грузовик VOLVO</td>
							<td>5&nbsp;000</td>
							<td>25&nbsp;000</td>
							<td>60&nbsp;000</td>
						</tr>
						<tr>
							<td>Мини-экскаватор CAT</td>
							<td>3&nbsp;000</td>
							<td>15&nbsp;000</td>
							<td>40&nbsp;000</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>