<div class="port-sub">
	<div class="container">
		<div class="row">
			<div class="col-lg-2">
				<h1 class="port-sub__title">Портфолио</h1>
			</div>
			<div class="col-lg-10">
				<ul class="port-sub__menu">
					<li><a href="#" class="port-sub__item">Все работы</a></li>
					<li><a href="#" class="port-sub__item">Строительство</a></li>
					<li><a href="#" class="port-sub__item">Демонтаж</a></li>
					<li><a href="#" class="port-sub__item">Земляные работы</a></li>
					<li><a href="#" class="port-sub__item">Перевозка</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>