<div class="portfolio">
	<div class="portfolio__item">
		<div class="container">
			<div class="row">
				<div class="col-lg-5">
					<div class="portfolio__content">
						<h3 class="portfolio__title">Строительство жилого дома в&nbsp;деревушке на севере холма</h3>
						<p class="portfolio__text">Спецтех24 – это сеть пунктов аренды спецтехники Cat, оборудования и специализированных инструментов для выполнения большинства видов работ.</p>
						<div class="portfolio__button">Подробнее</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="portfolio__item">
		<div class="container">
			<div class="row">
				<div class="col-lg-5">
					<div class="portfolio__content">
						<h3 class="portfolio__title">Строительство жилого дома в&nbsp;деревушке на севере холма</h3>
						<p class="portfolio__text">Спецтех24 – это сеть пунктов аренды спецтехники Cat, оборудования и специализированных инструментов для выполнения большинства видов работ.</p>
						<div class="portfolio__button">Подробнее</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="portfolio__item">
		<div class="container">
			<div class="row">
				<div class="col-lg-5">
					<div class="portfolio__content">
						<h3 class="portfolio__title">Строительство жилого дома в&nbsp;деревушке на севере холма</h3>
						<p class="portfolio__text">Спецтех24 – это сеть пунктов аренды спецтехники Cat, оборудования и специализированных инструментов для выполнения большинства видов работ.</p>
						<div class="portfolio__button">Подробнее</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>