<div class="specials">
	<div class="container">
		<h2 class="specials__title">Спецпредложения</h2>
		<div class="row">
			<div class="col-lg-4">
				<div class="cat-item cat-item--sale">
					<h3 class="cat-item__title">Колесный экскаватор Cat&nbsp;M315D</h3>
					<div class="cat-item__img">
						<img src="img/catalog/cat-m315d.png" alt="cat-m315d">
					</div>
					<p class="cat-item__price">
						<span class="cat-item__price--big">25&nbsp;000</span>
						<span class="cat-item__price--slash"> / </span>
						месяц
					</p>
					<a href="#" class="cat-item__button cat-item__button--yellow">Арендовать</a>
					<a href="#" class="cat-item__button cat-item__button--blue">Подробнее</a>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="cat-item">
					<h3 class="cat-item__title">Колесный экскаватор Cat&nbsp;M315D</h3>
					<div class="cat-item__img">
						<img src="img/catalog/cat-m315d.png" alt="cat-m315d">
					</div>
					<p class="cat-item__price">
						<span class="cat-item__price--big">25&nbsp;000</span>
						<span class="cat-item__price--slash"> / </span>
						месяц
					</p>
					<a href="#" class="cat-item__button cat-item__button--yellow">Арендовать</a>
					<a href="#" class="cat-item__button cat-item__button--blue">Подробнее</a>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="cat-item">
					<h3 class="cat-item__title">Колесный экскаватор Cat&nbsp;M315D</h3>
					<div class="cat-item__img">
						<img src="img/catalog/cat-m315d.png" alt="cat-m315d">
					</div>
					<p class="cat-item__price">
						<span class="cat-item__price--big">25&nbsp;000</span>
						<span class="cat-item__price--slash"> / </span>
						месяц
					</p>
					<a href="#" class="cat-item__button cat-item__button--yellow">Арендовать</a>
					<a href="#" class="cat-item__button cat-item__button--blue">Подробнее</a>
				</div>
			</div>
		</div>
	</div>
</div>