<div class="tt-and-cat">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<h2 class="tech-types__title">Вся техника</h2>
				<ul class="tech-types__menu">
					<li><a href="#" class="tech-types__item">Гусеничные экскаваторы</a></li>
					<li><a href="#" class="tech-types__item tech-types__item--active">Колесные экскаваторы</a></li>
					<li><a href="#" class="tech-types__item">Мини-экскаваторы</a></li>
					<li><a href="#" class="tech-types__item">Автокраны</a></li>
					<li><a href="#" class="tech-types__item">Фронтальные погрузчики</a></li>
					<li><a href="#" class="tech-types__item">Навесное оборудование</a></li>
					<li><a href="#" class="tech-types__item">Дизельгенераторы</a></li>
				</ul>
				<a href="#" class="tech-types__button">Скачать каталог в PDF</a>
			</div>
			<div class="col-lg-8">
				<div class="row">
					<div class="col-lg-6">
						<div class="cat-item">
							<h3 class="cat-item__title">Колесный экскаватор Cat&nbsp;M315D</h3>
							<div class="cat-item__img">
								<img src="img/catalog/cat-m315d.png" alt="cat-m315d">
							</div>
							<p class="cat-item__price">
								<span class="cat-item__price--big">25&nbsp;000</span>
								<span class="cat-item__price--slash"> / </span>
								месяц
							</p>
							<a href="#" class="cat-item__button cat-item__button--yellow">Арендовать</a>
							<a href="#" class="cat-item__button cat-item__button--blue">Подробнее</a>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="cat-item">
							<h3 class="cat-item__title">Колесный экскаватор Cat&nbsp;M315D</h3>
							<div class="cat-item__img">
								<img src="img/catalog/cat-m315d.png" alt="cat-m315d">
							</div>
							<p class="cat-item__price">
								<span class="cat-item__price--big">25&nbsp;000</span>
								<span class="cat-item__price--slash"> / </span>
								месяц
							</p>
							<a href="#" class="cat-item__button cat-item__button--yellow">Арендовать</a>
							<a href="#" class="cat-item__button cat-item__button--blue">Подробнее</a>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="cat-item cat-item--new">
							<h3 class="cat-item__title">Колесный экскаватор Cat&nbsp;M315D</h3>
							<div class="cat-item__img">
								<img src="img/catalog/cat-m315d.png" alt="cat-m315d">
							</div>
							<p class="cat-item__price">
								<span class="cat-item__price--big">25&nbsp;000</span>
								<span class="cat-item__price--slash"> / </span>
								месяц
							</p>
							<a href="#" class="cat-item__button cat-item__button--yellow">Арендовать</a>
							<a href="#" class="cat-item__button cat-item__button--blue">Подробнее</a>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="cat-item">
							<h3 class="cat-item__title">Колесный экскаватор Cat&nbsp;M315D</h3>
							<div class="cat-item__img">
								<img src="img/catalog/cat-m315d.png" alt="cat-m315d">
							</div>
							<p class="cat-item__price">
								<span class="cat-item__price--big">25&nbsp;000</span>
								<span class="cat-item__price--slash"> / </span>
								месяц
							</p>
							<a href="#" class="cat-item__button cat-item__button--yellow">Арендовать</a>
							<a href="#" class="cat-item__button cat-item__button--blue">Подробнее</a>
						</div>
					</div>
				</div>
				<div class="cat-pagination">
					<ul class="cat-pagination__list">
						<li><a href="#" class="cat-pagination__item cat-pagination__item--active">1</a></li>
						<li><a href="#" class="cat-pagination__item">2</a></li>
						<li><a href="#" class="cat-pagination__item">3</a></li>
						<li><a href="#" class="cat-pagination__item">4</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>